@use "../custom" as *;

// GRADIENT MIXIN
@mixin gradient {
    background: linear-gradient(to right, $black, rgba($brown, 0.99));

}


//ABSOLUTE CENTER
@mixin absoluteCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


// TRANSITION PROPERTY
@mixin transitionProperty {
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    transition-property: all;
}